@page
@model Web.Pages.formModel
@{
    ViewData["Title"] = "Elections Form";
}

<div class="text-center">
    <h1 class="display-4">Lets Vote!</h1>
</div>
    <h2>Election</h2>
       <form>
           <
       </form>
    <form method="post">
        <button>Close Voting</button>
    </form>
